*{
	padding: 0;
	margin: 0;
}

.flex-container{
	display:flex;
}

ul{
	list-style-type: none;

}

a{
	text-decoration: none;
	padding: 20px 40px;
	color: white;
}

a:hover{
	text-decoration:underline;
	padding: 20px 40px;
	cursor: pointer;

}

#mst{
	width: 100%;
	display: flex;
	justify-content: space-around;
	background-color: pink;
}

li{
	padding: 20px 40px;
	border-right:solid thin white;
}

#mst li:last-child{
	border:none;
}

.hide{
	display: none;
}

.mostrar{
	display: block;
}