@media (min-width: 200px) and (max-width: 624px){
	#btn{
		color:white;
		padding: 20px 20px;
		background-color: #1E2123;
	}

	.hide{
		display: block;
	}

	.mostrar{
		display: ;
	}

	#mst{
		display: none;
	}

	ul{
	width: 100%;
	display: block;
	}

	li{
	padding: 20px 40px;
	border-right: none;
	border-bottom:solid thin black;
	background-color: #1E2123;
	}

	nav{
		font-family: 'Raleway', sans-serif;
	}

}